:root {
    --buttonSize : 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
main {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1c1c1c;
}

button {
    padding: 1em;
    border-radius: 100%;
    font-size: 1.2em;
    background-color: #505050;
    color: rgb(250, 250, 250);
    border: none;
    height: var(--buttonSize);
    width: var(--buttonSize);
    transition: .25s ease-in-out;
}
button:active {
    background-color: #fff;
    color: #000;
    transition: .25s ease-in-out;
}
.calculator {
    width: 90%;
    max-width: 300px;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0px;
    /* border: red solid 1px; */
    justify-items: center;
}
.top-key {
    background-color: #d4d4d2;
    color: black;
}
.top-key:active {
    color: #d4d4d2;
    background-color: #fff;
}
.side-key {
    background-color: #ff9500;
}
.side-key:active {
    background-color: #dbab68;
    transition: .5s ease-in-out;
}
.side-key:focus {
    color: #ff9500;
    background-color: #fff;
}
[data-equal]:focus {
    background-color: #ff9500;
    color: #fff;
}
[data-equal]:active {
    background-color: #dbab68;
    color: #fff;
}
.display {
    /* border: black solid 1px; */
    width: 100%;
    min-height: 10vh;
    max-height: auto;
    grid-column: span 4;
    color: #fff;
    text-align: right;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.previous {
    font-size: .8em;
}
.span-2 {
    grid-column: span 2;
    width: 90%;
    border-radius: 30px;
    padding-right: 70%;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.negative-active {
    color: white;
    background-color: red;
}